* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

header {
    height: 60px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scelta-sesso a {
    color: white;
    text-decoration: none;
    font-size: smaller;
    font-weight: bold;
}

nav .logo {
    height: 30px;
}

main {
    padding: 0px 150px;
}

.first-section {
    margin: 40px 0;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tattoo-boy {
    height: 100%;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}

.tattoo-boy .boy {
    background-image: url(/img/1.webp);
    background-size: cover;
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.tattoo-boy .second-boy {
    background-image: url(/img/4.webp);
    background-size: cover;
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.tattoo-boy .blonde-girl {
    background-image: url(/img/2.webp);
    background-size: cover;
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.tattoo-boy .blonde-woman {
    background-image: url(/img/5.webp);
    background-size: cover;
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.tattoo-boy .afro-girl {
    background-image: url(/img/3.webp);
    background-size: cover;
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.tattoo-boy .skirt-girl {
    background-image: url(/img/6.webp);
    background-size: cover;
    height: 90%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.sconto {
    background-color: red;
    color: white;
    font-size: smaller;
    padding: 0 5px;
    margin-right: 2px;
}

.sus {
    background-color: green;
    color: white;
    font-size: smaller;
    padding: 0 5px;
    margin-right: 2px;
}

.tattoo-boy section p {
    font-size: 0.8rem;
}

.tattoo-boy strong {
    font-size: 15px;
    display: block;
}

.red {
    color: red;
    display: inline-block;
}

.crossed {
    text-decoration: line-through;
    display: inline-block;
}










